#blockMenu {
    overflow-y: auto;
    width: 200px;
    height: 450px;
    float: left;
    padding-right: 20px;
}

#blockMenuList a {
    background-color: #dddd;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#blockMenuList a:hover {
    background-color: #aaf;
}

#blockMenuList a.menuHead {
    background-color: #0000FE;
    color: white;
}

#blockMenuList a.active {
    background-color: #00A0FE;
    color: black;
}

#blockMenuButtons {
    padding: 10px 0px;
}

#blockMenuButtons button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer; /* Pointer/hand icon */
    width: 200px;
    display: block;
}

#blockMenuButtons button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
#blockMenuButtons button:hover {
  background-color: #3e8e41;
}
