#blockMenu {
    overflow-y: auto;
    width: 200px;
    height: 450px;
    float: left;
    padding-right: 20px;
}

#blockMenu a {
    background-color: #dddd;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#blockMenu a:hover {
    background-color: #aaf;
}

#blockMenu a.menuHead {
    background-color: #0000FE;
    color: white;
}

#blockMenu a.active {
    background-color: #00A0FE;
    color: black;
}
