@import url("workspace.css");
@import url("blockmenu.css");
@import url("blockeditor.css");

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #FFFFFF;
}

h1 {
  font-size: 60px;
  text-align: center;
}

#headline {
  font-size: 50px;
  margin: 0;
  padding: 20px 0;  
  color: #0F00F9;
  text-shadow: 3px 3px 1px black;
}
